extends layout

block content
  h1= task

  if err === 1
    +breadcrumb("Пользователи", "Ошибка")
    h3 Ошибка БД.
    p= errDesc

  else if err === 2
    +breadcrumb("Пользователи", "Ошибка")
    h3 Ошибка
    p= errDesc

  else
    +breadcrumb("Пользователи", customer.name)
    div.container
      h3 Пользователь #{customer.login} (id #{custId}):
      div.media(class="customer" id=customer.login)
        img(class="align-self-start mr-3" src=customer.image style="max-height:228px;")
        div.media-body
          h2.mt-0= customer.name
          p!= customer.desc